{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


  {% if access %}
  <table class="table table-hover">
    <tr>      <td>{{_('Inventory id')}}</td><td>      {{ access.inventory_id() }}        </td>     </tr>
    <tr>  <td>{{_('User')}}</td><td>                  {{ access.user.username }}        </td>    </tr>

    <tr>  <td>{{_('Resource')}}</td><td>              {{ access.resource.name }}   </a>     </td>    </tr>

    <tr>  <td>{{_('Start')}}</td>  <td>               {{ moment(access.start).format('YYYY-MM-DD') }}        </td>    </tr>

    <tr>  <td>{{_('Stop')}}</td><td>                  {{ moment(access.stop).format('YYYY-MM-DD') }}        </td>    </tr>
    <tr>  <td>{{_('Status')}}</td><td>                {{ access.status }}        </td>    </tr>
    <tr>  <td>{{_('Access via Assignment')}}</td><td> {{ access.assignment.role.name }}        </td>    </tr>
    <tr>  <td>{{_('Requested by')}}</td><td>          {{ access.assignment.requestor }}        </td>    </tr>
    <tr>  <td>{{_('Approved by')}}</td><td>           {{ access.assignment.approver }}        </td>    </tr>
    <tr>  <td>{{_('Implemented by')}}</td><td>        {{ access.implementer }}        </td>    </tr>
    <tr>  <td>{{_('Implemented at')}}</td><td>        {{ moment(access.implement_ts).format('YYYY-MM-DD') }}        </td>    </tr>

    <tr>  <td>{{_('Actions')}}</td>  <td>
          <A HREF="{{url_for('main.access_edit', access=access.id)}}"> {{ _('Edit') }}</A> <br/>
          {% if access.status == "requested" %}
            <A HREF="{{url_for('main.access_implement', access=access.id)}}"> {{ _('Implement') }}</A> <br/>
          {% endif %}
          <A HREF="{{url_for('main.access_list', access=access.id)}}"> {{ _('List') }}</A>
        </td>
    </tr>
  </table>

  {% endif %}

  {% if accesses %}
  <table class="table table-hover">
    <tr>
      <td>{{_('Inventory id')}}</td>
      <td>{{_('User')}}</td>
      <td>{{_('Resource')}}</td>
      <td>{{_('Start')}}</td>
      <td>{{_('Stop')}}</td>
      <td>{{_('Status')}}</td>
      <td>{{_('Manager of resource')}}</td>
      <td>{{_('Actions')}}</td>
    </tr>

    {% for a in accesses %}

      <tr>
        <td>
              {{ a.inventory_id() }}
        </td>
        <td>
                {{ a.user.username }}
        </td>
        <td>
               <a href="{{ url_for('main.access_view', access=a.id) }}">  {{ a.resource.name }}   </a>
        </td>
        <td>
                {{ moment(a.start).format('YYYY-MM-DD') }}
        </td>
        <td>
                {{ moment(a.stop).format('YYYY-MM-DD') }}
        </td>
        <td>
                {{ a.status }}
        </td>
        <td>
                {{ a.resource.service.manager.username }}
        </td>

        <td>
          <A HREF="{{url_for('main.access_edit', access=a.id)}}"> {{ _('Edit') }}</A> <br/>
          {% if a.status == "requested" %}
            <A HREF="{{url_for('main.access_implement', access=a.id)}}"> {{ _('Implement') }}</A> <br/>
          {% endif %}
          <A HREF="{{url_for('main.access_list', access=a.id)}}"> {{ _('List') }}</A>
        </td>

      </tr>
    {% endfor %}


    </table>


    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

  {% endif %}

  {% if form %}
      {{ wtf.quick_form(form) }}
  {% endif %}
{% endblock %}
