{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="container">
      <div class="row">
        <div class="col-sm-4">

    {% if role %}
      <div class="list-group">
        <a href="{{ url_for('main.role_list')}}" class="list-group-item">
          <h4 class="list-group-item-heading">{{_('Role')}}</h4>
        </a>
        {% for r in role %}
          <a href="{{ url_for('main.role_edit', role=r.id) }}" class="list-group-item">
            {{r.service.name}} - {{r.name}}
          </a>
        {% endfor %}
      </div>
    {% endif %}

    {% if location %}
      <div class="list-group">
        <a href="{{ url_for('main.location_list')}}" class="list-group-item">
          <h4 class="list-group-item-heading">{{_('Locations')}}</h4>
        </a>
        {% for l in location %}
          <a href="{{ url_for('main.location_edit', id=l.id) }}" class="list-group-item">
            {{l.place}} - {{l.facillity}} - {{l.area}} - {{l.position}} - {{l.type}}
          </a>
        {% endfor %}
      </div>
    {% endif %}



    {% if service %}
      <div class="list-group">
        <a href="{{ url_for('main.service_list')}}" class="list-group-item">
          <h4 class="list-group-item-heading">{{_('Services')}}</h4>
        </a>
        {% for serv in service %}
          <a href="{{ url_for('main.service_edit', server=serv.id) }}" class="list-group-item">
            {{serv.name}}
          </a>
        {% endfor %}
      </div>
    {% endif %}



  </div>
  <div class="col-sm-4">


        {% if pendingaccess %}
          <div class="list-group">
            <a href="{{ url_for('main.access_list', pending=1)}}" class="list-group-item">
              <h4 class="list-group-item-heading">{{_('Pending Access')}}</h4>
            </a>
            {% for pa in pendingaccess %}
              <a href="{{ url_for('main.access_edit', access=pa.id) }}" class="list-group-item">
                {{pa.user.username}} - {{pa.resource.name}} - {{ moment(pa.start).format('YYYY-MM-DD') }} - {{ moment(pa.stop).format('YYYY-MM-DD') }}
              </a>
            {% endfor %}
          </div>
        {% endif %}


        {% if access %}
          <div class="list-group">
            <a href="{{ url_for('main.access_list')}}" class="list-group-item">
              <h4 class="list-group-item-heading">{{_('Access')}}</h4>
            </a>
            {% for a in access %}
              <a href="{{ url_for('main.access_edit', access=a.id) }}" class="list-group-item">
                {{a.user.username}} - {{a.resource.name}} - {{ moment(a.start).format('YYYY-MM-DD') }} - {{ moment(a.stop).format('YYYY-MM-DD') }}
              </a>
            {% endfor %}
          </div>
        {% endif %}

      </div>
      <div class="col-sm-4">

    {% if resource %}
      <div class="list-group">
        <a href="{{ url_for('main.resource_list')}}" class="list-group-item">
          <h4 class="list-group-item-heading">{{_('Resource')}}</h4>
        </a>
        {% for r in resource %}
          <a href="{{ url_for('main.resource_edit', resource=r.id) }}" class="list-group-item">
            {{r.service.name}} - {{r.environment}} - {{r.name}}
          </a>
        {% endfor %}
      </div>
    {% endif %}



        {% if user %}
          <div class="list-group">
            <a href="{{ url_for('main.user_list')}}" class="list-group-item">
              <h4 class="list-group-item-heading">{{_('Users')}}</h4>
            </a>
            {% for u in user %}
              <a href="{{ url_for('main.user_list', user=u.id) }}" class="list-group-item">
                {{u.username}}
              </a>
            {% endfor %}
          </div>
        {% endif %}

  </div>


{% endblock %}
